.containner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.containner .box {
    position: relative;
    width: 300px;
    padding: 40px;
    height: 250px;
    background: #056c5f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.containner .box i {
    position: relative;
    width: 25px;
   padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    border-radius: 50%;
    font-size: x-large;

}

.containner .box .content .white {
    color: white;
    font-family: "Montserrat", serif;
    padding-bottom: 10px;
}

.containner .box .buton {
    background-color: transparent;
    line-height: 2px;
    border-radius: 3px;
    padding: 15px 20px;
    border-color: white;

}

.buton a {
    color: white;
    text-decoration: none;
    border: white;
    padding-bottom: 5px;

}

.box:hover {
    background-color: #f28a5d;
}